In [1]:
import pandas as pd
import numpy as np

In [39]:
position=pd.read_csv("position.csv")

In [3]:
company=pd.read_csv("company.csv",encoding="gbk")

In [47]:
position

,city,companyId,名称,companyLabelList,companyShortName,companySize,businessZones,firstType,secondType,education,industryField,positionId,positionAdvantage,positionName,positionLables,salary,平均,workYear,Unnamed: 18
0,上海,23177,上海点荣金融信息服务有限责任公司,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,数据开发,本科,金融,2427485,"挑战机会,团队好,与大牛合作,工作环境好",数据分析师-CR2017-SH2909,"['分析师', '数据分析', '数据挖掘', '数据']",10k-15k,10,应届毕业生,NaN
1,上海,57561,上海晶樵网络信息技术有限公司,"['技能培训', '绩效奖金', '岗位晋升', '管理规范']",SPD,50-150人,['打浦桥'],设计,数据分析,本科,移动互联网,2511252,"时间自由,领导nic",数据分析师,"['分析师', '数据分析', '数据']",4k-6k,4,应届毕业生,NaN
2,上海,7502,杭州数云信息技术有限公司上海分公司,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427530,五险一金 绩效奖金 带薪年假 节日福利,大数据业务分析师【数云校招】,"['商业', '分析师', '大数据', '数据']",6k-8k,6,应届毕业生,NaN
3,上海,57577,上海清源绿网科技有限公司,"['节日礼物', '带薪年假', '绩效奖金', '扁平管理']",清源大数据,15-50人,['张江'],金融类,金融类-天使投资/VC/PE,本科,数据服务,2527100,"互联网VC,活力团队,资深创投人",分析师,['分析师'],3k-4k,3,应届毕业生,NaN
4,上海,93141,上海融之家金融信息服务有限公司,"['年底双薪', '股票期权', '带薪年假', '绩效奖金']",融之家,500-2000人,NaN,技术,后端开发,本科,"移动互联网,金融",2561181,丰厚年终将,数据工程师,['数据'],10k-18k,10,应届毕业生,NaN
5,上海,143807,上海远目投资管理有限公司,NaN,大观资本,少于15人,NaN,金融,天使投资/VC/PE,硕士,金融,2501433,"按日计酬,氛围轻松",分析师（实习生）,['分析师'],3k-6k,3,应届毕业生,NaN
6,上海,73539,北京数字新思科技有限公司,"['年底双薪', '带薪年假', '年度旅游', '领导好']",数字新思,15-50人,"['田林', '徐家汇']",市场与销售,数据分析,本科,数据服务,2517307,五险一金、带薪年假、员工旅游、弹性工作日,商业数据分析,"['商业', '数据分析', '数据', 'BI']",6k-8k,6,应届毕业生,NaN
7,上海,146592,上海甫田贸易有限公司,"['带薪年假', '技能培训', '管理规范', '帅哥多']",甫田网Fields,150-500人,['龙华'],市场与销售,供应链,本科,电子商务,2388082,"晋升机会,专业培训,美味三餐,美女老板",数据分析专员,"['数据分析', '仓储', '数据']",4k-6k,4,应届毕业生,NaN
8,上海,7069,伽蓝（集团）股份有限公司,"['绩效奖金', '年底双薪', '五险一金', '通讯津贴']",伽蓝,2000人以上,NaN,产品/需求/项目类,数据分析,本科,电子商务,2531473,"专业团队,薪酬福利优,免费化妆品,工作氛围好",商业数据分析,"['商业', '数据分析', '数据', 'BI']",4k-6k,4,应届毕业生,NaN
9,上海,25499,路通世纪(中国)科技有限公司,"['五险一金', '免费班车', '绩效奖金', '年底双薪']",汤森路透,2000人以上,"['东外滩', '陆家嘴', '外滩']",市场与销售,数据分析,本科,数据服务,2168175,"新兴产业,跨国平台,团队氛围,薪资",品牌保护分析师实习生,"['商业', '分析师', '品牌']",2k-3k,2,应届毕业生,NaN
10,上海,47063,中国四达国际经济技术合作有限公司上海分公司,"['技能培训', '带薪年假', '绩效奖金', '岗位晋升']",中国四达,50-150人,"['淮海路', '人民广场', '老西门']",职能,人力资源,大专,招聘,2463114,福利待遇佳,数据合同管理助理（本部）,['数据'],4k-5k,4,应届毕业生,NaN
11,上海,113080,银联数据服务有限公司,NaN,银联数据,500-2000人,['唐镇'],技术,后端开发,本科,"金融,数据服务",2428072,"银联下属,金融互联网,技术开发,待遇佳",银联数据2017年校园招聘信息,"['招聘', '高校', 'C', '数据']",10k-20k,10,应届毕业生,NaN
12,上海,23177,上海点荣金融信息服务有限责任公司,"['节日礼物', '带薪年假', '岗位晋升', '扁平管理']",点融网,500-2000人,"['五里桥', '打浦桥', '制造局路']",技术,后端开发,本科,金融,2427495,"机会挑战,团队技术牛,团队年轻,工作环境好",数据系统工程师-CR2017-SH2907,"['数据', '系统']",10k-15k,10,应届毕业生,NaN
13,上海,7502,杭州数云信息技术有限公司上海分公司,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,"['龙华', '上海体育场', '万体馆']",市场与销售,数据分析,本科,"企业服务,数据服务",2427570,五险一金 绩效奖金 带薪年假 节日福利,需求分析师【数云校招】,"['商业', '分析师', '需求分析']",6k-8k,6,应届毕业生,NaN
14,上海,2002,上海好体信息科技有限公司,"['年底双薪', '股票期权', '扁平管理', '领导好']",足球魔方,150-500人,"['龙华', '植物园', '上海南站']",运营,运营,本科,"移动互联网,电子商务",2320852,"足球氛围,福利多,空间大,免费午餐",足球数据维护,['数据'],5k-6k,5,应届毕业生,NaN
15,上海,7502,杭州数云信息技术有限公司上海分公司,"['绩效奖金', '股票期权', '五险一金', '通讯津贴']",数云,150-500人,NaN,技术,后端开发,硕士,"企业服务,数据服务",2414492,大牛团队，奶妈助攻，专业培养，就等你来！,大数据算法工程师【校招】,"['大数据', '数据', '算法']",10k-15k,10,应届毕业生,NaN
16,上海,25499,路通世纪(中国)科技有限公司,"['五险一金', '免费班车', '绩效奖金', '年底双薪']",汤森路透,2000人以上,"['东外滩', '陆家嘴', '外滩']",市场与销售,市场/营销,本科,数据服务,1581296,积极职业前景，融洽的团队氛围,商业数据分析 - 知识产权方向,"['知识产权', '数据分析', '数据', 'BI']",6k-7k,6,应届毕业生,NaN
17,上海,35713,德佑房地产经纪有限公司,"['技能培训', '带薪年假', '年度旅游', '岗位晋升']",上海链家(原德佑),2000人以上,NaN,产品/需求/项目类,数据分析,硕士,企业服务,2575519,"业内最专业,成长空间大,培训多多,决策支持",运营分析师/数据分析师,"['高级', '数据分析', '专员', '商业', '业务运营', '运营']",10k-17k,10,1-3年,NaN
18,上海,47993,上海网鱼信息科技有限公司,"['年底双薪', '带薪年假', '年度旅游', '岗位晋升']",网鱼网咖.鱼泡泡,50-150人,"['漕宝路', '万源城', '东兰路']",设计,数据分析,大专,生活服务,2549808,晋升空间大,数据分析师,"['分析师', '数据分析', '数据']",7k-14k,7,1-3年,NaN
19,上海,55581,上海链家房地产经纪有限公司,"['技能培训', '年底双薪', '节日礼物', '绩效奖金']",链家（上海）,2000人以上,"['吴江路', '上海电视台', '南京西路']",市场与销售,市场/营销,硕士,"移动互联网,O2O",657586,万亿级O2O平台 一年两次调薪 半年度奖金,数据分析师,"['分析师', '数据分析', '数据']",10k-19k,10,1-3年,NaN
20,上海,42029,上海萨图西网络有限公司,"['弹性工作', '比特币', 'Slack', '标配Mac']",BTCC,50-150人,NaN,设计,数据分析,不限,金融,2509282,"从“0到1,区块链,比特币,国际化团队",数据分析师,"['分析师', '数据分析', '数据']",8k-16k,8,1-3年,NaN
21,上海,73757,上海财安金融服务集团股份有限公司,"['技能培训', '带薪年假', '岗位晋升', '管理规范']",财安金融,2000人以上,"['大柏树', '运光', '江湾']",金融,天使投资/VC/PE,本科,"企业服务,金融",2299645,"平台大,舒适的环境,和谐的氛围",数据分析师,"['分析师', '数据分析', '数据']",6k-8k,6,1-3年,NaN
22,上海,30533,上海好居信息科技有限公司,"['股票期权', '岗位晋升', '扁平管理', '补充商业保险']",悟空找房,500-2000人,"['交通大学', '虹桥', '徐家汇']",设计,数据分析,本科,"移动互联网,O2O",2459208,弹性工作、五险一金、大牛如云,大数据分析师,"['分析师', '大数据', '数据分析', '数据']",15k-25k,15,1-3年,NaN
23,上海,10215,上海游竞网路科技有限公司,"['美女多', '交通补助', '午餐补助', '绩效奖金']",PLU游戏娱乐传媒,500-2000人,"['汶水路', '大宁路', '闸北公园']",设计,用户研究,本科,游戏,2028802,五险一金，补充医疗，餐费补贴，美女多,数据分析师,"['分析师', '数据分析', '数据']",10k-20k,10,1-3年,NaN
24,上海,22321,上海晶赞科技发展有限公司,"['项目奖金', '带薪休假', '美女多', '硅谷工作机会']",晶赞科技Zamplus,150-500人,"['汶水路', '大宁路', '共和新路']",市场与销售,市场/营销,本科,"数据服务,文化娱乐",1139011,定期体检 国外outing 弹性工作 绩效奖金,数据分析师,"['分析师', '数据分析', '数据']",10k-20k,10,1-3年,NaN
25,上海,32836,上海趣盛网络科技有限公司,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",达达,500-2000人,"['八佰伴', '东外滩', '梅园']",技术,软件开发,本科,O2O,2166913,数据驱动，风口发展平台，双休,数据分析师,"['分析师', '数据分析', '数据', 'BI']",10k-20k,10,1-3年,NaN
26,上海,34683,上海秦苍信息科技有限公司,"['美式企业文化', '节日礼物', '股票期权', '岗位晋升']",买单侠,500-2000人,NaN,技术,后端开发,本科,金融,2462379,C轮 技术金融 美式氛围 无限量零食饮料,大数据分析师,"['分析师', '大数据', '数据分析', '数据']",10k-20k,10,1-3年,NaN
27,上海,51480,拉扎斯网络科技（上海）有限公司,"['节日礼物', '绩效奖金', '年度旅游', '岗位晋升']",饿了么,2000人以上,"['长征', '曹杨']",开发/测试/运维类,数据开发,本科,移动互联网,2579570,弹性工作、发展空间大、带薪年假、加班餐,数据分析师,NaN,10k-15k,10,1-3年,NaN
28,上海,30830,上海幻电信息科技有限公司,"['带薪年假', '绩效奖金', '交通补助', '午餐补助']",哔哩哔哩,500-2000人,"['东外滩', '梅园', '源深体育中心']",设计,数据分析,本科,"移动互联网,文化娱乐",2480295,"领导大牛,团队优秀",数据分析师,"['分析师', '数据分析', '数据']",8k-15k,8,1-3年,NaN
29,上海,126229,上海寒诀网络科技有限公司,NaN,麦萌漫画,50-150人,NaN,设计,数据分析,不限,"移动互联网,电子商务",2245520,"数据分析,数据挖掘,数据",数据分析师,"['分析师', '数据分析', '数据']",6k-12k,6,1-3年,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6830,北京,153850,新华网亿连（北京）科技有限责任公司,NaN,新华网亿连（北京）科技有限责任公司,15-50人,['长椿街'],产品,产品经理/产品设计师,本科,"数据服务,其他",2542305,上市公司背景、独立运营团队、提升空间大,数据产品经理,"['产品经理', '产品', '数据']",7k-12k,7,不限,NaN
6831,北京,64755,CBC(北京)信用管理有限公司,"['技能培训', '节日礼物', '专项奖金', '带薪年假']",CBC,500-2000人,NaN,运营,客服,大专,其他,2336832,帅哥美女团队人好心善有才华,数据客服专员（双休五险一金）,"['客服', '数据']",4k-6k,4,不限,NaN
6832,北京,125706,德通汇富（北京）资本管理有限公司,"['带薪年假', '弹性工作', '领导好', '管理规范']",德通汇富,50-150人,"['朝外', '朝阳门', '东大桥']",金融,投融资,大专,"金融,O2O",2455223,弹性工作 朝九晚六 周末双休 员工福利,金融分析师/操盘手/交易员,"['分析师', '金融']",8k-10k,8,不限,NaN
6833,北京,23448,中数通信息有限公司,"['五险一金', '节日礼物', '岗位晋升', '带薪年假']",中数通,500-2000人,NaN,设计,用户研究,大专,移动互联网,2551222,五险一金 庆生礼物 带薪年假 高温话费补贴,数据分析专员,"['数据分析', '数据']",4k-6k,4,不限,NaN
6834,北京,71471,北京华电天益信息科技有限公司,"['技能培训', '绩效奖金', '领导好', '交通补助']",北京华电天益信息科技有限公司,50-150人,"['回龙观', '龙泽']",技术,数据开发,本科,信息安全,2436339,"依托学校,五险一金,假期多,氛围轻松",大数据研发,"['大数据', '数据挖掘', '数据']",8k-10k,8,不限,NaN
6835,北京,103414,北京天会创业投资有限公司,"['带薪年假', '领导好', '帅哥多', '交通补助']",天会创投,15-50人,"['魏公村', '中关村', '皂君庙']",市场与销售,数据分析,本科,"移动互联网,金融",2442908,五险一金、弹性工作,数据分析专员,"['商业', '数据分析', '数据']",4k-6k,4,不限,NaN
6836,北京,149114,数临天下医信科技（北京）有限公司,NaN,数临天下,15-50人,['望京'],市场与销售,数据分析,硕士,"企业服务,医疗健康",2402638,"晋升空间,五险一金,带薪年假,弹性工作",商业数据分析,"['商业', '数据分析', '数据', 'BI']",4k-8k,4,不限,NaN
6837,北京,31317,中金金融认证中心有限公司,"['年底双薪', '绩效奖金', '管理规范', '定期体检']",中国金融认证中心,500-2000人,"['菜市口', '陶然亭', '白纸坊']",技术,高端技术职位,本科,"金融,数据服务",1867911,银行大数据风控分析，海量交易数据实操,大数据开发工程师,"['大数据', '数据库', '数据']",15k-30k,15,不限,NaN
6838,北京,33479,格图（北京）科技有限公司,"['股票期权', '年度旅游', '扁平管理', '领导好']",格图,少于15人,"['亮马桥', '三元桥', '左家庄']",技术,后端开发,硕士,"移动互联网,数据服务",1043707,大量纯洁的数据，等你用算法挑逗,大数据算法实习生,"['大数据', '数据', '算法']",4k-6k,4,不限,NaN
6839,北京,30596,光明网传媒有限公司,"['年底双薪', '节日礼物', '技能培训', '绩效奖金']",光明网,150-500人,"['珠市口', '磁器口', '新世界', '珠市口', '磁器口']",运营,编辑,本科,"电子商务,文化娱乐",1693200,中央媒体、专车接送、五险一金、补充医疗,互联网分析师,['分析师'],4k-8k,4,不限,NaN
6840,北京,83189,大公信用统计有限公司,"['技能培训', '带薪年假', '五险一金', '帅哥多']",大公征信,500-2000人,"['亮马桥', '三元桥', '燕莎']",金融,天使投资/VC/PE,硕士,"金融,数据服务",2051982,发展前景 技术培训 晋升通道,评级分析师,['分析师'],6k-10k,6,不限,NaN
6841,北京,48605,北京瑞商源科技有限责任公司,"['带薪年假', '绩效奖金', '岗位晋升', '年度旅游']",瑞商网,15-50人,"['上地', '西二旗', '马连洼']",设计,数据分析,本科,"移动互联网,数据服务",427065,技术含量高，发展前景好,数据分析助理,"['数据分析', '数据']",5k-10k,5,不限,NaN
6842,北京,144804,北京乐畅乐享文化发展有限公司,"['绩效奖金', '午餐补助', '技能培训', '领导好']",大玩家超乐场,2000人以上,"['大望路', '红庙', '华贸']",市场与销售,数据分析,大专,"文化娱乐,游戏",2380710,"双休,五险一金,年底13薪,餐补",数据分析专员,"['商业', '数据分析', '数据']",4k-6k,4,不限,NaN
6843,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,金融类,管理岗,大专,金融、教育,2474401,双休，五险，餐补，房补，带薪年假，交通补,高薪聘金融交易员分析师,"['总监', '部门主管', '经理', '分析师']",10k-20k,10,不限,NaN
6844,北京,125706,德通汇富（北京）资本管理有限公司,"['带薪年假', '弹性工作', '领导好', '管理规范']",德通汇富,50-150人,"['朝外', '朝阳门', '东大桥']",金融,投融资,大专,"金融,O2O",2472045,周末双休 早九晚六 弹性工作,金融分析师,"['分析师', '金融']",8k-10k,8,不限,NaN
6845,北京,83189,大公信用统计有限公司,"['技能培训', '带薪年假', '五险一金', '帅哥多']",大公征信,500-2000人,"['亮马桥', '三元桥', '燕莎']",金融,天使投资/VC/PE,硕士,"金融,数据服务",2051994,五险一金 晋升通道 发展前景,金融/经济分析师,"['分析师', '金融']",6k-10k,6,不限,NaN
6846,北京,107608,北京玛赫西计算机教育咨询有限公司,"['赴美工作', '美元薪水', '告别996', '技术前沿']",MUM计算机,少于15人,NaN,市场与销售,销售,本科,教育,2344828,帮助程序员赴美做IT，享受高薪高品质生活,大数据程序员赴美项目,"['大数据', '数据']",10k-20k,10,不限,NaN
6847,北京,124195,北京丽兹行房地产投资顾问有限公司,NaN,丽兹行,500-2000人,NaN,运营,运营,本科,"企业服务,广告营销",2390054,"高端管理,带薪培训,优秀合伙人,广阔晋升",数据分析（高管近距离+高薪资保证+晋升广阔）,"['数据分析', '数据']",8k-16k,8,不限,NaN
6848,北京,50518,北京东方弘道资产管理有限责任公司,"['节日礼物', '管理规范', '定期体检', '年终分红']",弘道资本,少于15人,"['酒仙桥', '姚家园']",金融,天使投资/VC/PE,本科,"移动互联网,金融",2412885,任选岗位，找到最适合的发展方向,分析师-实习生,['分析师'],4k-6k,4,不限,NaN
6849,北京,121899,佰润明辉（北京）投资有限公司,NaN,佰润明辉,150-500人,"['团结湖', '朝阳公园', '三里屯', '团结湖', '朝阳公园', '三里屯']",金融,投融资,不限,"金融,移动互联网",1702627,五险一金 年终奖 领导nice 发展空间大,金融二级市场证券分析师／交易员／操盘手 零基础带薪培训,"['分析师', '金融', '证券']",15k-30k,15,不限,NaN
6850,北京,146872,云联世纪（北京）数据服务有限公司,"['弹性工作', '节日礼物', '领导好', '五险一金']",云联数据,少于15人,NaN,市场与销售,销售,不限,"电子商务,移动互联网",2465479,无责底薪+高提成+五险+年底双薪+带薪年假,数据中心场地销售,"['销售', '销售', '数据']",3k-6k,3,不限,NaN
6851,北京,138882,福建省中天地征信有限公司,NaN,中天地征信,50-150人,"['德胜门', '新街口', '北太平庄']",技术,后端开发,本科,"移动互联网,数据服务",2093199,以解决技术难题为乐趣的工作最有吸引力,爬虫数据-实习生,"['爬虫', '数据']",3k-6k,3,不限,NaN
6852,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,其它,教育|培训,大专,金融、教育,2466098,薪资高待遇好,分析师助理,"['分析师', '数据分析']",8k-16k,8,不限,NaN
6853,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,金融、教育,2465818,这是一个自我追寻的时代来亿盛资本看看吧。,交易员分析师,"['风控', '经理', '行业研究', '分析师']",5k-10k,5,不限,NaN
6854,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2469665,工作自由、法定假日休息,外汇分析师,"['分析师', '资金管理']",8k-10k,8,不限,NaN
6855,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2469682,高薪双休五险一金时间自由朝九晚五,金融证券分析师&nbsp;&nbsp;助理,"['分析师', '金融', '证券']",10k-20k,10,不限,NaN
6856,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,产品/需求/项目类,项目管理,大专,金融、教育,2469686,高薪五险一金双休朝九晚五带薪年假20天,金融证券分析师&nbsp;可培训,"['项目管理', '专员', '助理', '实习生', '风控', '采购', '分析师',...",15k-30k,15,不限,NaN
6857,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,其他,房地产|建筑业,大专,金融、教育,2470949,高薪五险一金双休朝九晚五无加班可培训,金融证券分析师&nbsp;讲师&nbsp;助理,"['分析师', '职业培训', '教育', '培训', '金融', '证券', '股票', ...",15k-30k,15,不限,NaN
6858,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,市场/商务/销售类,销售,大专,金融、教育,2465839,高薪&nbsp;无加班&nbsp;&nbsp;双休&nbsp;&nbsp;五险一金&nbsp;,金融证券分析师助理讲师助理,"['实习生', '主管', '经理', '顾问', '销售', '客户代表', '分析师',...",10k-20k,10,不限,NaN
6859,北京,151898,北京亿盛融华投资管理有限公司,NaN,亿盛资本,150-500人,NaN,金融类,风控,不限,金融、教育,2471674,挑战高薪，挑战自我,1W五险双休诚聘金融分析师助理可兼职,"['分析师', '金融']",8k-15k,8,不限,NaN

In [45]:
position.groupby("city").mean()

         companyId    positionId         平均  Unnamed: 18
city
上海    59085.843361  2.154012e+06  12.975104          NaN
北京    54668.078765  2.202001e+06  13.638257          NaN
南京    63834.506024  2.259256e+06   8.036145          NaN
厦门    65063.166667  1.950048e+06   7.700000          NaN
天津    72552.350000  2.221607e+06   6.300000          NaN
广州    60209.665672  2.216608e+06   9.397015          NaN
成都    72342.822222  2.202573e+06   9.474074          NaN
杭州    52299.164619  2.193057e+06  11.874693          NaN
武汉    59865.057971  2.123315e+06   8.101449          NaN
深圳    59497.745731  2.136640e+06  12.825427          NaN
苏州    47339.459459  2.141410e+06  10.594595          NaN
西安    72292.450980  2.187909e+06   7.431373          NaN
长沙    56073.040000  2.130448e+06   6.960000          NaN

In [46]:
position.groupby("city").agg("mean")

         companyId    positionId         平均  Unnamed: 18
city
上海    59085.843361  2.154012e+06  12.975104          NaN
北京    54668.078765  2.202001e+06  13.638257          NaN
南京    63834.506024  2.259256e+06   8.036145          NaN
厦门    65063.166667  1.950048e+06   7.700000          NaN
天津    72552.350000  2.221607e+06   6.300000          NaN
广州    60209.665672  2.216608e+06   9.397015          NaN
成都    72342.822222  2.202573e+06   9.474074          NaN
杭州    52299.164619  2.193057e+06  11.874693          NaN
武汉    59865.057971  2.123315e+06   8.101449          NaN
深圳    59497.745731  2.136640e+06  12.825427          NaN
苏州    47339.459459  2.141410e+06  10.594595          NaN
西安    72292.450980  2.187909e+06   7.431373          NaN
长沙    56073.040000  2.130448e+06   6.960000          NaN

In [52]:
position.pivot_table(index=["city","education"],columns="workYear",values="平均",aggfunc=np.mean).loc["上海"]

workYear        1-3年  10年以上  1年以下       3-5年      5-10年         不限     应届毕业生
education
不限          9.388889   30.0   5.0  10.833333  13.333333   9.718750       NaN
博士          9.000000    NaN   NaN        NaN        NaN  15.000000       NaN
大专          8.000000    NaN   3.5  13.066667  16.000000   4.166667  4.000000
本科         10.529661   32.5   8.0  15.282528  20.631579   7.106061  6.142857
硕士         10.652174   15.0   5.0  14.533333  30.214286   7.000000  6.500000