In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("E_Commerce_Data.csv")

In [36]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [ ]:
df.info()

In [ ]:
df['Quantity'] = df['Quantity'].astype('int')

In [ ]:
df['UnitPrice'] = df['UnitPrice'].astype('float')

In [24]:
df[df['InvoiceNo'].str[0]=="C"].head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom

In [27]:
df["Description"].str.strip()

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
5                SET 7 BABUSHKA NESTING BOXES
6           GLASS STAR FROSTED T-LIGHT HOLDER
7                      HAND WARMER UNION JACK
8                   HAND WARMER RED POLKA DOT
9               ASSORTED COLOUR BIRD ORNAMENT
10                  POPPY'S PLAYHOUSE BEDROOM
11                  POPPY'S PLAYHOUSE KITCHEN
12          FELTCRAFT PRINCESS CHARLOTTE DOLL
13                     IVORY KNITTED MUG COSY
14         BOX OF 6 ASSORTED COLOUR TEASPOONS
15               BOX OF VINTAGE JIGSAW BLOCKS
16             BOX OF VINTAGE ALPHABET BLOCKS
17                   HOME BUILDING BLOCK WORD
18                   LOVE BUILDING BLOCK WORD
19                RECIPE BOX WITH METAL HEART
20                        DOORMAT NEW ENGLAND
21                   JAM MAKING SET WITH JARS
22                RED COAT RACK PARIS FASHION
23             YELLOW COAT RACK PARIS FASHION
24               BLUE COAT RACK PARIS FASHION
25                   BATH BUILDING BLOCK WORD
26                  ALARM CLOCK BAKELIKE PINK
27                   ALARM CLOCK BAKELIKE RED
28                 ALARM CLOCK BAKELIKE GREEN
29            PANDA AND BUNNIES STICKER SHEET
                         ...
541879             ALARM CLOCK BAKELIKE GREEN
541880               ALARM CLOCK BAKELIKE RED
541881            LARGE CHINESE STYLE SCISSOR
541882        SET 12 RETRO WHITE CHALK STICKS
541883            BOX OF 24 COCKTAIL PARASOLS
541884           ANTIQUE SILVER T-LIGHT GLASS
541885        SMALL MEDINA STAMPED METAL BOWL
541886             MAGNETS PACK OF 4 SWALLOWS
541887     SET 6 SCHOOL MILK BOTTLES IN CRATE
541888         ZINC T-LIGHT HOLDER STAR LARGE
541889         FAIRY TALE COTTAGE NIGHT LIGHT
541890    LARGE CAKE STAND  HANGING STRAWBERY
541891       SET OF 3 HANGING OWLS OLLIE BEAK
541892          RED RETROSPOT ROUND CAKE TINS
541893                  DOORMAT RED RETROSPOT
541894                CIRCUS PARADE LUNCH BOX
541895          PLASTERS IN TIN CIRCUS PARADE
541896              PLASTERS IN TIN STRONGMAN
541897              ALARM CLOCK BAKELIKE PINK
541898               ALARM CLOCK BAKELIKE RED
541899             ALARM CLOCK BAKELIKE GREEN
541900             ALARM CLOCK BAKELIKE IVORY
541901        CHILDRENS APRON SPACEBOY DESIGN
541902                     SPACEBOY LUNCH BOX
541903             CHILDRENS CUTLERY SPACEBOY
541904            PACK OF 20 SPACEBOY NAPKINS
541905            CHILDREN'S APRON DOLLY GIRL
541906           CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908           BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [28]:
df.shape

(541909, 8)

In [31]:
df=df.dropna(how="any")

In [32]:
df.shape

(406829, 8)

In [39]:
df["Description"]=df["Description"].fillna("是吗")

In [40]:
df["Description"].isnull().sum()

0

In [43]:
df['CustomerID']=df['CustomerID'].fillna(df['CustomerID'].mean())

In [44]:
df['CustomerID'].isnull().sum()

0

In [3]:
def timesplit(time):
    list=[]
    for i in time:
        a=i.split(" ")[0]
        list.append(a)
    b=pd.Series(a)
    return b

In [4]:
df['InvoiceDate']=df['InvoiceDate'].apply(timesplit)

In [ ]:
df['InvoiceDate']