In [1]:
import pandas as pd

In [2]:
a=pd.Series([1,2,3,4])

In [3]:
a

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
b={ "name":["yyy","yyj"],
   "age":[12,13],
   "sex":["女","男"]}

In [30]:
df=pd.DataFrame(b)

In [29]:
pd.DataFrame([[1,2,3],[4,5,6]],index=list("ab"),columns=list("123"))

   1  2  3
a  1  2  3
b  4  5  6

In [31]:
df

  name  age sex
0  yyy   12   女
1  yyj   13   男

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
name    2 non-null object
age     2 non-null int64
sex     2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [35]:
df["age"]

0    12
1    13
Name: age, dtype: int64

In [36]:
df[df.age==12]

  name  age sex
0  yyy   12   女